page-survey-details {
    h6{
        text-align: justify;
        vertical-align: middle;
        font-family: "Domine";
        line-height: 1.5;
        
        
    }
    h6,h5,span,p {
        
        font-family: "Domine";
        
    }
    span{
        
        font-size: 16px; 
        
    }
   h3 span{
        
        font-size: 22px; 
        
    }

    .panel-heading {
        text-align: center;
        font-family: "Domine";
        font-weight: 900 
    }

    .panel-footer {
        padding: 0 15px;
        border: none;
        text-align: right;
        background-color: transparent;
    }

    .container {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    text-align: center;
}
}
