<!--
  Generated template for the SurveyDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
    </ion-navbar>

</ion-header>


<ion-content padding>
	<!--ion-fab top right edge>
        <button ion-fab mini (click)="getSurveyResults()" color="danger"><ion-icon name="list-box"></ion-icon></button>
    </ion-fab-->
    <survey [survey]="survey"></survey>
</ion-content>



