<!--
  Generated template for the CerrarSesionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cerrar_sesion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full color="dark" (click)="advertencia()">Cerrar Sesión</button>
</ion-content>
