<ion-header>

  <ion-navbar color="primary">
    <ion-title>Satisfacción Laboral</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="info">
  <p class="letra">
    <b>Datos del empleado:</b>
  </p>

  <ion-list>
    <ion-item class="letra">No. de empleado:
      <ion-note item-end>{{result[0]}}</ion-note>
    </ion-item>

    <ion-item class="letra">Edad:
      <ion-note item-end>{{result[1]}}</ion-note>
    </ion-item>

    <ion-item class="letra">Estado Civil:
      <ion-note item-end>{{result[2]}}</ion-note>
    </ion-item>

    <ion-item class="letra">Género:
      <ion-note item-end>{{result[3]}}</ion-note>
    </ion-item>

    <ion-item class="letra">Antigüedad:
      <ion-note item-end>{{result[4]}}</ion-note>
    </ion-item>

    <br>
    <p class="letra">
      <b>Resultados:</b>
    </p>
    <p class="error-message" *ngIf="sema >= 0 && sema < 2.5 ">
      <img src="assets/icon/sad.jpg" width="120"  />
    </p>
    <p class="error-message" *ngIf="sema >= 2.5 && sema < 3.3 ">
      <img src="assets/icon/standard.jpg" width="120"  />
    </p>
    <p class="error-message" *ngIf="sema >= 3.3 && sema <= 5 ">
      <img src="assets/icon/happy.jpg" width="120"  />
    </p>

  </ion-list>

</ion-content>
