
<ion-header>

  <ion-navbar  color= "primary">
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="contenedor">
 
  <ion-icon name="ios-contact" class="iconouser"></ion-icon>

  <ion-card>
   <ion-card-content>
  <ion-list>
  <ion-item class="input">
    <ion-icon name="ios-mail" item-start></ion-icon>
    <ion-label class="tipouser" floating>Correo electrónico</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  
  <ion-item class="input">
    <ion-icon name="ios-lock" item-start></ion-icon>
    <ion-label class="tipouser" floating>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-item class="input">
    <ion-icon name="ios-medical" item-start></ion-icon>
    <ion-label class="tipouser" floating>Confirmar contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmar"></ion-input>
  </ion-item>

  <button  class="botoncito" ion-button (click)="SignUp()" >Registrar</button>

  </ion-list>
  </ion-card-content>
  </ion-card>
</ion-content>

