page-register {
@import url('https://fonts.googleapis.com/css?family=Pacifico');

        .iconouser{
         position:absolute;
        font-size: 600%;
        color: #000000;
        padding-top: 2%;
        padding-left: 35%;
         }
         .iconomail{
         position:absolute;
        font-size: 25px;
        color: #000000;
        padding-top: 180px;
        padding-left: 20px;
         }
         .iconocontra{
         position:absolute;
        font-size: 25px;
        color: #000000;
        padding-top: 250px;
        padding-left: 20px;
         }
        .boton{
            font-size: 20px;
            text-transform: initial !important;
            height: 70px;
            width: 200px;
            font-weight: 100;
            letter-spacing: 2px;
            margin-top: 35px;
            color: #ffffff;
            background-color: #000000;
            border: 2px solid #01579B;  
        }
        .tipouser{
            color: #000000;
            font-size: 110%;
        }

        .contenedor{
        position: absolute;
        top:10px;
        margin-left: 0%;
        
        }

        & ion-card-header{
            text-align:  center;
            padding-bottom: 5px !important;
            color: #000000 !important;
            background-color: #000000;
            font-size: 20px !important;
            font-weight: 100;
            letter-spacing: 2px;
            font-family: 'Pacifico', cursive;
            font-style: oblique;

        }
        & ion-card-content{
            text-align:  center;
            padding-bottom: 80px;
            
        }
        & ion-card{
            margin-top: 40% !important;
            align-content: center!important;
            align-items: center!important;
            //vertical-align: middle;
            //margin-left: 50px !important;
            margin-right: 50px !important;
            background-color:  #ffffff !important;
            
        }
        ion-content{
           background-color: #ffffff!important; 
        }
        & ion-item{
            border-top: 0px !important;
        }
        & ion-header{
            background-color: #01579B;
        }
         .imput{
            background-color: #F7F9F9 !important;
            color: #000000 !important;
            margin-bottom: 30px;
            font-size: 20px !important;
            margin-left: 20px;
            width: 90%;
            
        }
        input::-webkit-input-placeholder {
            color:    blue;
          }
          input::-webkit-input-placeholder { 
            text-indent: 0; 
            color: red; 
            }
          input::-moz-placeholder {
            color: red;
            }
            
            input:-ms-input-placeholder {
            color: red;
            }
        .boton_personalizado{
    bottom: 115px;
    left: 290px;
    text-decoration: none;
    padding: 20px;
    font-weight: 500;
    font-size: 25px; 
    top: 600px;
    color: #000000;
    background-color: #1565C0;
    border: 2px solid #01579B;
    }
    .tab{
      height: 500%;
      font-size: 300%;
      left: 5%;
     
    }
    .botoncito{
        font-size: 100%;
        
        margin-top: 7%;
    }
    
}
