page-resultados-clima {
      @import url('https://fonts.googleapis.com/css?family=Domine|Playfair+Display+SC');


    .info{
        font-family: 'Pacifico';
        color:black;
    }
    .letra{
        font-size: 18px;
        color: black;
    }
    .img{
        width: 25%;
    }
    .label,p{
         color: black;
          font-family: 'Domine', serif;
              text-align: left;
    }
    p{
        text-align: center;
    }
    .note-ios{
         color: #777;
         font-family: 'Domine', serif;
         font-size: 15px;
    }
}