page-home {
  @import url('https://fonts.googleapis.com/css?family=Domine|Playfair+Display+SC');

  h2 {
    color: black;
    letter-spacing: 0px;
    font-family: 'Domine', serif;
  
  }
   .titulo{
            border-top: 0px !important;
            color: #000000;
        }
  h5 {
    display: flex;
    color: #65072E;
    width: 100%;
    font-family: 'Playfair Display SC', serif;
    margin-top: .2em!important;
    font-size: 150%;
  }
  h5::before,
  h5::after {
    content: "";
    flex:1;
    align-self: center;
    border-bottom: 1px solid #ccc;
  }
  h5::before {margin-right: .3em}
  h5::after {margin-left: .3em}

  .error-message {
    background-color: map-get($colors, danger);
    color: #fff;
    border: 1px solid #c0392b;
    padding: 10px;
  }

  a, ion-buttons {
    color: white;
  }
   ion-icon {
        font-size: 25px;
        padding: 5px; 
        margin-bottom: 5px;
        
    }

   ion-avatar img  {
      width:50px!important;
      height : 50px !important;
      max-width: 60px !important;  //any size
      max-height: 60px !important; //any size
    }

    .tab{
      height: 500%;
      font-size: 300%;
     
    } 

    .temitas{
      font-size: 200%;
    }

}
