<ion-header>

    <ion-navbar color="primary">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            
        </ion-title>

        <ion-buttons end>
            <button ion-button (click)="openLogin()" *ngIf="autenticado == false">
                <ion-icon large name="ios-stats"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="CerrarSesion()" *ngIf="autenticado == true">
                <ion-icon name="ios-redo"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    
    <h5>Encuestas disponibles</h5>
    <ion-list>
        <ion-item-sliding  *ngFor="let survey of surveys; let i = index" #slidingItem>
            <ion-item tappable (click)="selectedSurvey(survey)">
                <ion-thumbnail class="temitas" item-start>
                   
                    <p *ngIf=" survey.Name == 'Responsabilidad Social'">
                        <img width="200" src="http://www.redcresearch.ie/wp-content/uploads/2015/12/14.png" /> </p>               
                    <p *ngIf=" survey.Name == 'Desgaste Ocupacional'">
                        <img width="200" src="https://static.e-encuesta.com/wp-content/uploads/satisfaccion-cliente-v6.png" /> </p>               
                    <p *ngIf="survey.Name == 'Clima Laboral'">
                        <img width="200" src="https://flexsurveys.com/wp-content/uploads/FlexSurveysEmployeeEngagementSurvey-Trans.png" /> </p>               
                    <p *ngIf=" survey.Name == 'Satisfacción Laboral'">
                        <img width="200" src="http://www.redcresearch.ie/wp-content/uploads/2015/12/30.png" /> </p>               
 
                    
                </ion-thumbnail>
                <h2>{{survey.Name}}</h2>                
            </ion-item>
            
        </ion-item-sliding>
    </ion-list>

    <p class="error-message" *ngIf="noSurveys">No se pudieron cargar las encuestas. Por favor verifique su conexión a Internet o inténtelo más tarde.</p>
</ion-content>


   
       <!-- <button ion-button small round color="danger" (click)="CerrarSesion()">Cerrar Sesión</button> -->
    
        
    

