<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu" (click)="warninigDeleteAllResults()">Eliminar</ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (click)="CerrarSesion()">
        <ion-icon name="ios-log-out" class="ion-size"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--ion-fab top left edge>
    <button ion-fab mini color="danger">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </button>
    <ion-fab-list>
     
          <button ion-fab color="danger" (click)="warninigDeleteAllResults()" 
 href="https://surveyjs.io/Results/ExportResults/fc724d10-65a0-4e44-bd79-38e9d931d55f?format=xls"
 href="https://surveyjs.io/Results/ExportResults/0c0edb58-c798-4b0d-8e58-01f0af0d59d1?format=xls"
          >
        <ion-icon name="ios-trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab-->

  <h5>Resultados</h5> 
  <ion-list>
    <ion-item-sliding *ngFor="let survey of surveys; let i = index" #slidingItem>
      <ion-item tappable (click)="selectedSurvey(survey)">
        <ion-thumbnail item-start>

          <p *ngIf=" survey.Name == 'Responsabilidad Social'">
            <img width="200" src="http://www.redcresearch.ie/wp-content/uploads/2015/12/14.png" /> </p>
          <p *ngIf=" survey.Name == 'Desgaste Ocupacional'">
            <img width="200" src="https://static.e-encuesta.com/wp-content/uploads/satisfaccion-cliente-v6.png" /> </p>
          <p *ngIf="survey.Name == 'Clima Laboral'">
            <img width="200" src="https://flexsurveys.com/wp-content/uploads/FlexSurveysEmployeeEngagementSurvey-Trans.png" /> </p>
          <p *ngIf=" survey.Name == 'Satisfacción Laboral'">
            <img width="200" src="http://www.redcresearch.ie/wp-content/uploads/2015/12/30.png" /> </p>


        </ion-thumbnail>
        <h2>{{survey.Name}}</h2>
      </ion-item>

    </ion-item-sliding>
  </ion-list>

  <p class="error-message" *ngIf="noSurveys">No se pudieron cargar las encuestas. Por favor verifique su conexión a Interenet o inténtelo más tarde.</p>

  <!--button ion-button color="danger"(click)="warninigDeleteAllResults()">Eliminar todos los resultados</button-->

</ion-content>
