page-graficas-responsabilidad {
  @import url('https://fonts.googleapis.com/css?family=Domine|Playfair+Display+SC');
  h2,
  .label {
    color: black;
    letter-spacing: 0px;
    font-family: 'Domine', serif;
  }
  .titulo {
    border-top: 0px !important;
    color: #000000;
  }
  .actualizar{
    left: -27%;
    font-size: 100%;
    margin-left: -70%; 
  }
   h5,
   h4 {
     display: flex;
     color: #65072E;
     width: 100%;
     font-family: 'Playfair Display SC', serif;
     margin-top: .2em !important;
   }

   h5::before,
   h5::after,
     {
     content: "";
     flex: 1;
     align-self: center;
     border-bottom: 1px solid #ccc;
   }

   h4::before,
   h4::after {
     content: "";
     flex: 1;
     align-self: center;
     border-bottom: 1px solid #ccc;
   }

   h5::before {
     margin-right: .3em
   }

   h5::after {
     margin-left: .3em
   }

   h4::before {
     margin-right: .3em
   }

   h4::after {
     margin-left: .3em
   }

  #chart_div {
    width: 100%;
    height: 500px;
    left: 0 !important;
  }		
  #chart_div2 {
    width: 100%;
    height: 500px;
    left: 0 !important;
  }		
  #chart_div3 {
    width: 100%;
    height: 500px;
    left: 0 !important;
  }	
  .error-message {
    background-color: map-get($colors, danger);
    color: #fff;
    border: 1px solid #c0392b;
    padding: 10px;
  }
  a,
  ion-buttons,
  button {
    color: black;
  }
  ion-col {
    font-size: 10px;
  }
  ion-card-header {
    font-weight: bold;
  }
  .label {
    color: black;
  }
  ion-avatar {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  ion-segment {
    color: black;
  }
  .climaindividual{
    font-size: 20px;
   }
   .noindividual{ 
    font-size: 15px;
   }
   .btnindividuales{
     font-size: 15px;
   }
   .generales{
    font-size: 20px;
  }
  .tab{
      height: 500%;
      font-size: 300%;
     
    }
    ion-icon {
        font-size: 80px;
        padding: 0px; 
        margin-bottom: 1px;
        
    } 
}
