
<ion-header>

  <ion-navbar color="primary">
   
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h5>No. de Empleado</h5>
	<br>
	<ion-fab top right edge>
    <button ion-fab mini color="danger"><ion-icon name="arrow-dropdown"></ion-icon></button>
    <ion-fab-list>
		<!--button ion-fab color="danger" (click)="openModal()"><ion-icon name="stats"></ion-icon></button>
		<button ion-fab color="danger" (click)="presentAlert()"><ion-icon name="people"></ion-icon></button-->
      	<button ion-fab color="danger" (click)="downloadResults(result)"><ion-icon name="cloud-download"></ion-icon></button>
    </ion-fab-list>
	</ion-fab>

		<ion-list>
			<button ion-item *ngFor="let result of surveyResults" (click)="openDetails(result)">
				{{result.userAnswers[0].value}}
			</button>
		</ion-list>

		<button ion-button color="danger"(click)="advertencia()">Eliminar todos los resultados</button>

</ion-content>
