page-iniciar-sesion {
    @import url('https://fonts.googleapis.com/css?family=Pacifico');

        .iconouser{
         position:absolute;
        font-size: 500%;
        color: #000000;
        padding-top: 35px;
        padding-left: 43%;
         }
         .iconomail{
         position:absolute;
        font-size: 25px;
        color: #000000;
        padding-top: 180px;
        padding-left: 20px;
         }
         .iconocontra{
         position:absolute;
        font-size: 25px;
        color: #000000;
        padding-top: 250px;
        padding-left: 20px;
         }
        .boton{
            font-size: 18px;
            text-transform: initial !important;
            height: 30px;
            width: 140px;
            font-weight: 100;
            letter-spacing: 2px;
            margin-top: 10px;
            color: #ffffff;
            background-color:#C32222;
            border: 2px solid #65072E; 

           
        } 
        .contenedor{
        position: absolute;
        top: 55%;
        //margin-left: -4%;
        text-align: center;
    
        } 

        & ion-card-header{
            position: absolute;
            text-align:  center;
            padding-bottom: 50px !important;
            color: #222 !important;
            font-size: 20px !important;
            font-weight: 100;
            letter-spacing: 2px;
            font-family: 'Pacifico', cursive;
            font-style: oblique;
            bottom: 65%;
            margin-left: 20%;
        }
        & ion-card-content{
            text-align:  center;
            padding-bottom: 80px;
        }
        & ion-card{
            margin-top: 150px !important;
            align-content: center!important;
            align-items: center!important;
            vertical-align: middle;
            //margin-left: 50px !important;
            margin-right: 50px !important;
            background-color:  #ffffff !important;
            
        }
        ion-content{
           background-color: #ffffff!important; 
        }
        & ion-item{
            border-top: 0px !important;
        }
        .imput{
            background-color: #F7F9F9 !important;
            color: #000000 !important;
            margin-bottom: 20px;
            font-size: 15px !important;
            margin-left: 20px;
            width: 90%;
            margin-top: 5%;
            

            
        }
        input::-webkit-input-placeholder {
            color:    blue;
          }
          input::-webkit-input-placeholder { 
            text-indent: 0; 
            color: red; 
            }
          input::-moz-placeholder {
            color: red;
            }
            
            input:-ms-input-placeholder {
            color: red;
            }
        .boton_personalizado{
    bottom: 115px;
    left: 290px;
    text-decoration: none;
    padding: 20px;
    font-weight: 500;
    font-size: 25px;
    top: 600px;
    color: #000000;
    background-color: #65072E;
    border: 2px solid #65072E;
    }

    .tab{
      height: 700%;
      font-size: 600%; 
     
    } 
    
    
    
    }
