<ion-header>
  <ion-navbar  color="primary">
  <ion-title>
  
  </ion-title>
  </ion-navbar>
</ion-header>

<ion-content color="fondo" class="contenedor_login">
  <img class="contenedor" src="assets/icon/ciudad.jpg">
  <ion-icon name="ios-contact" class="iconouser"></ion-icon>

  <ion-card>
    
      <ion-card-header>
        Iniciar Sesión
      </ion-card-header>
    
      	<ion-card-content>
    		<ion-list>
        
				<ion-item class="imput">
					<ion-icon name="ios-mail" item-start></ion-icon>
					<ion-input [(ngModel)]="user.email" name="email" type="text" placeholder="Correo electrónico"></ion-input>
				</ion-item>
        
				<ion-item class="imput">
					<ion-icon name="ios-lock" item-start></ion-icon>
					<ion-input [(ngModel)]="user.password" name="email" type="password" placeholder="Contraseña"></ion-input>
				</ion-item>
         
			<!--button ion-button small round color="primary" (click)="Login()" type="submit">Iniciar</button-->
      <button class="boton" ion-button round color="primary" (click)="Login()">Aceptar</button>
        </ion-list>
  </ion-card-content>
  </ion-card>
</ion-content>

