<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Resultados" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Registrar Usuario" tabIcon="person-add"></ion-tab>
  <!--ion-tab (ionSelect)="advertencia()" tabTitle="Cerrar Sesión" tabIcon="information-circle" ></ion-tab-->
</ion-tabs>