<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="resultados">
      <ion-segment-button value="individual">
        Individuales
      </ion-segment-button>
      <ion-segment-button value="general">
        Generales
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding class="card-background-page">

  <div [ngSwitch]="resultados">

    <ion-list *ngSwitchCase="'individual'">
      <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
      </ion-searchbar>
      <ion-list>
<survey [survey]="survey"></survey>

      </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="'general'">

      <ion-card>
        <img src="assets/imgs/red-face-bk.jpg" />

        <div class="card-subtitle">41%</div>
      </ion-card>

      <ion-card>
        <img src="assets/imgs/yellow.jpg" />

        <div class="card-subtitle">41%</div>
      </ion-card>

      <ion-card>
        <img src="assets/imgs/red-face-bk.jpg" />

        <div class="card-subtitle">41%</div>
      </ion-card>

      <!--ion-grid>
				<ion-row>
					<ion-col>
						<img src="assets/imgs/red-face.png">
					</ion-col>
					<ion-col>
						<br>
						<h2>10%</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<img src="assets/imgs/yellow-face.png">
					</ion-col>
					<ion-col>
						<br>
						<h2>30%</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<img src="assets/imgs/green-face.png">
					</ion-col>
					<ion-col>
						<br>
						<h2>60%</h2>
					</ion-col>
				</ion-row>


			</ion-grid-->


    </ion-list>
  </div>

</ion-content>