<ion-header>

  <!--Configuracion de la barra de navegacion-->
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only navPop>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <!--Switch entre tipos de resultados-->
    <ion-segment [(ngModel)]="resulEncuestas" color="light">
      <ion-segment-button value="individual">
        Individuales
      </ion-segment-button>
      <ion-segment-button value="general">
        Generales
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <!--Boton de descarga de resultados-->
  <ion-fab top right edge #fab>
    <button ion-fab mini color="primary2">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </button>
    <ion-fab-list>


      <a ion-fab color="primary2" (click)="fab.close();" href="https://surveyjs.io/Results/ExportResults/0c0edb58-c798-4b0d-8e58-01f0af0d59d1?format=xls">
        <ion-icon name="cloud-download"></ion-icon>
      </a>

      <a ion-fab color="primary2" (click)="screenShot($event, fab)">
        <ion-icon name="ios-image"></ion-icon>
      </a>

      <!--Boton para eliminar los resultados-->
      <button ion-fab color="danger" (click)="warninigDeleteAllResults($event, fab)">
        <ion-icon name="ios-trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <!--Elementos del switch entre resultados individuales/generales-->
  <div [ngSwitch]="resulEncuestas">

    <!--Resultados Individuales-->
    <ion-list *ngSwitchCase="'individual'">
      <h4 class="climaindividual">Satisfacción Laboral</h4>

      <br>
      <h5 class="noindividual">No. de Empleado</h5>
      <br>
      <ion-list>
        <button class="btnindividuales" ion-item *ngFor="let result of satisfaccionValues" (click)="openDetails(result)">
          {{result[0]}}
        </button>
      </ion-list>
    </ion-list>

    <!--Graficas generales-->
    <ion-list *ngSwitchCase="'general'">

      <h4 class="generales">Satisfacción Laboral</h4>

      <br>
      <button style="left: 250px;" ion-button icon-end (click)="mostrarGraficas()" class="actualizar">Actualizar
        <ion-icon name="stats"></ion-icon>
      </button>
      <div id="chart_div" style="height: 350px;"></div>

    </ion-list>

  </div>
</ion-content>
